.page-wrap{
  width: 80rem;
height: 32.5rem;


}


.hwww{
  margin-left: 0px;
  width: 94.9rem;
height: 49rem;
flex-shrink: 0;
}
.hww{
  margin-top: -760px;

}
.logo{
  color: #FFF;
text-align: center;
font-family: Cabin;
font-size: 1.9375rem;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-left: -800px;
}
.we{
  color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 0.65rem;
font-style: normal;
font-weight: 600;
line-height: normal;
background: none;
margin-top: -50px;

}
.log1{
cursor: pointer;
}
.log2{
  margin-left: 230px;
  margin-top: -47px;
  cursor: pointer;
}
.log3{
  cursor: pointer;
  margin-left: 460px;
  margin-top: -47px;
}
.log4{
  background: #23071f;
  cursor: pointer;
  margin-left: 670px;
  margin-top: -45px;
}
.log6{
margin-top: -33px;
margin-left: 800px;
}
.ble{
  margin-left: 200px;
  margin-top: -286px;
  cursor: pointer;
}
.gw{
  margin-top: -38px;
  margin-left: 200px;
  font-family: Poppins;
font-size: 0.95rem;
font-style: normal;
font-weight: 600;
line-height: normal;
cursor: pointer;
}
.hum{
  width: 30.28069rem;
height: 27.932rem;
flex-shrink: 0;
margin-left: -660px;
margin-top: -150px;
}
.line1{
  width: 24rem;
height: 16.375rem;
transform: rotate(-6.621deg);
flex-shrink: 0;
stroke-width: 7.632px;
stroke: rgba(255, 255, 255, 0.70);
}
.xr{
  margin-left: -700px;
}
.rs{
  margin-left: 800px;
  margin-top: -430px;
}
.hr1{
color: #23071f;
width: 9.25rem;
height: 10.125rem;
flex-shrink: 0;
border-radius: 0.5rem;
border: 3px solid #7748FF;
background: #FFF;
box-shadow: 3px 7px 15px 0px rgba(0, 0, 0, 0.25);
margin-left: 500px;
}
.hr2{
  color: #23071f;
  width: 9.25rem;
  height: 10.125rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  border: 3px solid #7748FF;
  background: #FFF;
  box-shadow: 3px 7px 15px 0px rgba(0, 0, 0, 0.25);
  margin-left: 500px;
  }
  .hr3{
    color: #23071f;
    width: 9.25rem;
    height: 10.125rem;
    flex-shrink: 0;
    border-radius: 0.5rem;
    border: 3px solid #7748FF;
    background: #FFF;
    box-shadow: 3px 7px 15px 0px rgba(0, 0, 0, 0.25);
    margin-left: 500px;
    }
.ne{
  margin-top: 400px;
  
}
.sub {
  height: 50px;
  width: 50px;
}
.her{
  color: #FFF;
font-family: Cabin;
font-size: 4rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.pot{
  color: #FFF;
font-family: Cabin;
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.buts{
  width: 14.0625rem;
height: 3.25rem;
flex-shrink: 0;
border-radius: 0.8125rem;
background: linear-gradient(179deg, #A181FF 0.65%, rgba(135, 93, 255, 0.00) 313.85%);
cursor: pointer;
}
.gets{
  color: #FFF;
font-family: Cabin;
font-size: 1.5625rem;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.hum1{
  margin-top: 50px;
  margin-left: -480px;
}
.hum2{
  margin-left: -400px;
}
.line2{
  margin-top: -220px;
  margin-left: -100px;
}
.rx{
  margin-top: 20px;
  gap: 40px;
  margin-left: 200px;
}
.x1{
  margin-left: 10px;
}
.x2{
  margin-left: 120px;
}
.x3{
  margin-left: 120px;
}
.xr2{
  width: 2.75rem;
height: 2.75rem;
flex-shrink: 0;
margin-top: -140px;
margin-left: 209.67px;

}
.xr3{
  width: 2.75rem;
height: 2.75rem;
flex-shrink: 0;
margin-top: -40px;
margin-left: 509px;
}
.xr4{
  width: 2.75rem;
height: 2.75rem;
flex-shrink: 0;
margin-top: -50px;
margin-left: 809px;
}
.xh1{
  color: #7041F5;
font-family: Cabin;
font-size: 1.5625rem;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-left: 177px;

}
.xh11{
  color: #7041F5;
font-family: Poppins;
font-size: 0.9375rem;
font-style: normal;
font-weight: 700;
line-height: normal;
width: 130px;
margin-left: -6px;
}
.xh12{
  color: #7041F5;
font-family: Cabin;
font-size: 1.5625rem;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-left: 210px;

}
.xh112{
  color: #7041F5;
font-family: Poppins;
font-size: 0.9375rem;
font-style: normal;
font-weight: 700;
line-height: normal;
width: 130px;
margin-left: -40px;
}
.secd{
  width: 64.8125rem;
height: 49rem;
flex-shrink: 0;
margin-left: -100px;
}
.h1p{
  color: #0B036B;
font-family: Poppins;
font-size: 3.125rem;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 230px;
margin-left: 560px;
width: 600px;
}
.p1p{
  width: 45.25rem;
height: 6.4375rem;
flex-shrink: 0;
color: rgba(0, 0, 0, 0.70);
font-family: Poppins;
font-size: 1.875rem;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-left: -60px;
}
.img1{
  width: 19.5rem;
height: 17.5rem;
flex-shrink: 0;
border-radius: 0.9375rem;
}
.h11{
  color: #FFF;
  text-align: center;
  font-family: Lato;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
 margin-top: -19px;
  
}
.bll{
  width: 3.25rem;
height: 1.09638rem;
flex-shrink: 0;
border-radius: 0.3125rem;
background: #784BFE;
margin-top: -270px;
margin-left: 360px;
}
.h111{
  color: #0B036B;
font-family: Lato;
font-size: 1.5625rem;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 260px;
}
.h122{
  width: 18.375rem;
height: 3.375rem;
flex-shrink: 0;
color: rgba(0, 0, 0, 0.70);
font-family: Poppins;
font-size: 0.9375rem;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-left: 380px;
}
.sm{
  margin-left: -270px;
}
.c2c{
  color: #0B036B;
text-align: center;
font-family: Lato;
font-size: 0.9375rem;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: -26px;
margin-left: -160px;
}
.sss{
  width: 2.5rem;
height: 1.3625rem;
flex-shrink: 0;
border-radius: 0.5625rem;
border: 0.8px solid #794BFF;
background: #794BFF;
margin-left: 630px;
margin-top: -22px;
}
.ss1{
  color: #FFF;
text-align: center;
font-family: Lato;
font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 2px;
}
.startt{
  margin-top: -24px;
}
.xsd{
  margin-top: -440px;
  margin-left: 700px;
}
.bll1{
  width: 3.25rem;
height: 1.09638rem;
flex-shrink: 0;
border-radius: 0.3125rem;
background: #784BFE;
margin-top: -270px;
margin-left: 10px;
}
.h1112{
  color: #0B036B;
font-family: Lato;
font-size: 1.5625rem;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 260px;
}
.h123{
  width: 18.375rem;
height: 3.375rem;
flex-shrink: 0;
color: rgba(0, 0, 0, 0.70);
font-family: Poppins;
font-size: 0.9375rem;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-left: 20px;
}
.sm1{
  margin-left: -270px;
}
.c2c2{
  color: #0B036B;
text-align: center;
font-family: Lato;
font-size: 0.9375rem;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: -26px;
margin-left: -160px;
}
.sss1{
  width: 2.5rem;
height: 1.3625rem;
flex-shrink: 0;
border-radius: 0.5625rem;
border: 0.8px solid #794BFF;
background: #794BFF;
margin-left: 275px;
margin-top: -22px;
}
.ss12{
  color: #FFF;
text-align: center;
font-family: Lato;
font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 2px;
}
.startt1{
  margin-top: -24px;

}
.xsd1{
  margin-top: -440px;
  margin-left: 700px;
}
.img2{
  margin-left: 360px;
}
.bll1{
  width: 3.25rem;
height: 1.09638rem;
flex-shrink: 0;
border-radius: 0.3125rem;
background: #784BFE;
margin-top: -270px;
margin-left: 10px;
}
.h1113{
  color: #0B036B;
font-family: Lato;
font-size: 1.5625rem;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 260px;
margin-left: 430px;
width: 200px;
}
.h123{
  width: 18.375rem;
height: 3.375rem;
flex-shrink: 0;
color: rgba(0, 0, 0, 0.70);
font-family: Poppins;
font-size: 0.9375rem;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-left: 20px;
}
.sm2{
  margin-left: 370px;
}
.c2c3{
  color: #0B036B;
text-align: center;
font-family: Lato;
font-size: 0.9375rem;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: -26px;
margin-left: 337px;
width: 200px;
}

.sss1{
  width: 2.5rem;
height: 1.3625rem;
flex-shrink: 0;
border-radius: 0.5625rem;
border: 0.8px solid #794BFF;
background: #794BFF;
margin-left: 275px;
margin-top: -22px;
}
.ss12{
  color: #FFF;
text-align: center;
font-family: Lato;
font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 2px;
}
.startt1{
  margin-top: -24px;

}
.xpx{
  width: 94.8rem;
height: 49rem;
flex-shrink: 0;
background: #784BFE;
margin-left: 0px;
margin-top: 50px;
}
.xrx{
  width: 21.1675rem;
height: 21.1675rem;
flex-shrink: 0; 
stroke-width: 8.328px;
stroke: #FFF;
margin-left: -800px;
margin-top: 28px;
}
.xrx1{
  width: 12.72363rem;
height: 12.72363rem;
flex-shrink: 0;
border-radius: 12.72363rem;

}
.xrx2{
  width: 12.72363rem;
height: 12.72363rem;
flex-shrink: 0;
border-radius: 12.72363rem;
margin-left: 70px;

}
.xex{
  margin-top: -410px;
  margin-left: -1210px;
}
.xex1{
  margin-top: -220px;
  margin-left: -420px;
}
.xrx3{
  width: 14.343rem;
height: 14.343rem;
flex-shrink: 0;
border-radius: 14.343rem;

}
.xex2{
  margin-left: -1100px;
  margin-top: 30px;
}
.xex3{
  margin-left: -740px;
  margin-top: 10px;
  
}
.xrx4{
  width: 16.88769rem;
height: 16.88769rem;
flex-shrink: 0;
}
    
.xex4{
  margin-top: -370px;
  margin-left: -390px;
}
.xex5{
  margin-left: -1100px;
  margin-top: 20px;
}
.hnh{
  color: #FFF;
font-family: Lato;
font-size: 3rem;
font-style: normal;
font-weight: 900;
line-height: normal;
width: 700px;
margin-left: 30px;
}
.hnhh{
  margin-top: -700px;
  margin-left: 700px;
  width: 800px;
}
.xss{
  width: 3rem;
height: 2.9375rem;
flex-shrink: 0;
background: #FFF;
border-radius: 120px;
margin-top: 70px;
margin-left: 50px;
}
.xsxx{
  width: 2.125rem;
height: 2.125rem;
flex-shrink: 0;
margin-top: 10px;
}
.sdd{
  color: #FFF;
font-family: Lato;
font-size: 1.5rem;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-left: 80px;
margin-top: -50px;
}
.pdd{
  color: #FFF;
font-family: Lato;
font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 29.9375rem;
margin-left: -20px;
}
.xssd{
  width: 80rem;
height: 9.5rem;
background: #FFF;
margin-top: 270px;
}
.sssx{
  width: 62.3125rem;
height: 27.9375rem;
flex-shrink: 0;
margin-top: 400px;
}
.met{
  color: #0B036B;
font-family: Lato;
font-size: 3rem;
font-style: normal;
font-weight: 900;
line-height: normal;
margin-left: 600px;
width: 500px;
}
.ops{
  width: 38.3125rem;
height: 9.5rem;
flex-shrink: 0;
color: #000;
font-family: Lato;
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 100px;
margin-top: 30px;
}
.ops1{
  width: 38.3125rem;
height: 9.5rem;
flex-shrink: 0;
color: #000;
font-family: Lato;
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: -80px;
margin-left: 100px;
}
.buti{
  width: 15.75rem;
  height: 3.5625rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
border: 1px solid #794BFF;
margin-left: 300px;

}
.cli{
  color: #0B036B;
font-family: Lato;
font-size: 1.375rem;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.alil{
  background: #f5f4f7;
  border-radius: 200px;
  border-color: aqua;
  margin-top: -500px;
  margin-left: -200px;
  
}
.xexe{
  margin-left: 160px;
  font-family: Lato;
font-size: 3rem;
font-style: normal;
font-weight: 900;
line-height: normal;
width: 500px;
}
.test{
  width: 94.91875rem;
height: 49.6875rem;
flex-shrink: 0;

margin-top: 230px;
}
.h1h{
  color: #0B036B;
font-family: Lato;
font-size: 3rem;
font-style: normal;
font-weight: 900;
line-height: normal;
}
.vsv{
  width: 38.3125rem;
height: 3.9375rem;
flex-shrink: 0;
color: #000;
text-align: center;
font-family: Lato;
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 447px;
}
.scs{
  width: 31.9375rem;
height: 12.3125rem;
flex-shrink: 0;
border-radius: 0.9375rem;
border: 4px solid #AD90FF;
background: #FFF;
box-shadow: 5px 11px 52px -18px rgba(0, 0, 0, 0.15);
margin-left: 500px;
margin-top: 120px;
}
.ser{
  width: 24.4375rem;
height: 5.875rem;
flex-shrink: 0;
color: #000;
font-family: Lato;
font-size: 1.25rem;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-top: 30px;
margin-left: 90px;
}
.ssg{
  width: 9.25rem;
height: 9.25rem;
flex-shrink: 0;
margin-left: -509px;
margin-top: -130px;

}
.fre{
  color: #000;
font-family: Lato;
font-size: 1.375rem;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-left: 340px;
width: 200px;
margin-top: -20px;
}
.test11{
  margin-top: -400px;
  margin-left: -1100px;

}
.test1{
  width: 7.125rem;
  cursor: pointer;
height: 7.125rem;
flex-shrink: 0;
}
.test2{

  cursor: pointer;

flex-shrink: 0;
}
.test12{
  margin-top: -95px;
  margin-left: 1400px;

}
.test1{
  width: 7.125rem;
height: 7.125rem;
flex-shrink: 0;
}
.test13{
  margin-top: 125px;
  margin-left: 700px;

}
.test14{
  margin-top: 125px;
  margin-left: -1300px;

}
.test15{
  margin-top: -125px;
  margin-left: 1400px;

}
.test16{
  margin-top: -25px;
  margin-left: -510px;

}
.foot{
  width: 193vh;
  height: 100vh;
  background: #0B036B;
  margin-bottom: 0px;
  display: hidden;

}